.footer {
  width: 100vw;
  overflow: hidden;
  background-color: #fff;
  color: aliceblue;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
.upperFooter {
  width: 98%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.upperFooterSection {
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.footertext {
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}
.lowerFooter {
  width: 100%;
  display: flex;
  gap: 3%;
  height: 400px;
  font-size: 40px;
  padding: 5px 5px;
}
.lowerFooterSection {
  min-width: 30%;
}
