.contact {
  display: flex;
  gap: 5px;
  overflow: hidden;
  max-width: 1280px;
  margin: 5px auto;
}
.contactFormContainer {
  width: 50vw;
  height: 600px;
  padding-right: 5rem;
}
.contactForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
}
.formItem {
  width: 400px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  font-size: 13px;
  font-weight: 600;
  color: #808080;
}
.contactForm input {
  width: 350px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #000;
  outline: none;
}
.contactForm select {
  background-color: #fff;
  width: 350px;
  height: 40px;
  padding: 0px 5px;
  border-radius: 6px;
  border: 1px solid #000;
  outline: none;
  color: #808080;
}
.contactForm textarea {
  width: 350px;
  height: 100px;
  resize: none;
  border-radius: 6px;
  padding: 5px 10px;
  border: 1px solid #000;
  outline: none;
}
.submitBtn {
  padding: 0 !important;
  border: none !important;
  font-size: 15px;
  font-weight: 400;
  background-color: saddlebrown;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .contact {
    flex-direction: column;
  }
  .contactFormContainer {
    width: 100vw;
    padding-right: 0rem;
  }
  .formItem {
    width: 100%;
    padding-left: 20px;
  }
  .formItem input {
    width: 95%;
  }
  .formItem select {
    width: 95%;
  }
  .formItem textarea {
    width: 95%;
  }
}
